

    <!--==========================
    Header
    ============================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/collection/components/icon/icon.min.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet"> -->
    <body>
        
  
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix">
      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6 intro-info order-md-first order-last">
            <h2>NacroSolutions<br>
                <br>for your <span>Business!</span></h2>
            <div>
              <a routerLink="/auth" class="btn-get-started scrollto">Get Authenticated</a>
           
            </div>
          </div>
    
          <div class="col-md-6 intro-img order-md-last order-first">
            <img src="../../assets/intro-img.svg" alt="" class="img-responsive ">
          </div>
        </div>
  
      </div>
    </section><!-- #intro -->
  
    <main id="main">
  
      <!--==========================
        About Us Section
      ============================-->
      <section id="about">
  
        <div class="container">
          <div class="row">
  
            <div class="col-lg-5 col-md-6">
              
                <img src="../../assets/v.png" style="width: 400px;" alt="">
              
            </div>
  
            <div class="col-lg-7 col-md-6">
              <div class="about-content">
                <h2>About Us</h2>
                <h3>www.nacrosolutions.com</h3>
                <p>Nacrosolutions is a private firm established in 2016 by nabham sharma who completed his engineering .
                    He is upcoming entrepreneur..</p>
                
                <ul>
                  <li><i class="ion-android-checkmark-circle"></i> Together with our clients, we're using technologies like AI, cloud, industries and the world. Let's put smart to work....</li>
                  <li><i class="ion-android-checkmark-circle"></i> In  blockchain & IoT to transform business.</li>
                  <li><i class="ion-android-checkmark-circle"></i> Let's put smart to work.....</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
      </section><!-- #about -->
  
  
      <!--==========================
        Services Section
      ============================-->
      <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Services</h3>
            <p>We are providing many services to our clients</p>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
    
              <div class="box">
                <div class="icon" style="background: #fceef3;"><i class="fa fa-bell" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="">BlockChain</a></h4>
                <p class="description">We are into blockchain</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon" style="background: #fff0da;"><i class="fa fa-bolt" style="color: #e98e06;"></i></div>
                <h4 class="title"><a href="">AI</a></h4>
                <p class="description">We are also into AI</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon" style="background: #e6fdfc;"><i class="fa fa-check-circle" style="color: #3fcdc7;"></i></div>
                <h4 class="title"><a href="">Cloud</a></h4>
                <p class="description">We are in cloud too!!!</p>
              </div>
            </div>
        
        
  
          
       
  
          </div>
  
        </div>
      </section><!-- #services -->
  
      <!--==========================
        Why Us Section
      ============================-->
      <section id="why-us" class="wow fadeIn">
        <div class="container-fluid">
          
          <header class="section-header">
            <h3>Why choose us?</h3>
            <p>Preservence is the Key!!!.</p>
          </header>
  
          <div class="row">
  
            <div class="col-lg-6">
              <div class="why-us-img">
                <img src="../../assets/why-us.jpg" alt="" class="img-responsive">
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="why-us-content">
                <p>We belive in Results</p>
                <p>
            We try our best to give you the best user experience. Hold yourself!!!
                </p>
  
                <div class="features wow bounceInUp clearfix">
                  <i class="fa fa-diamond" style="color: #f058dc;"></i>
                  <h4>Nacrosolutions</h4>
                  <p>Nacrosolutions is the firm who is gaining trust from last 3 years and have great achivement in their field.</p>
                </div>
  
                <div class="features wow bounceInUp clearfix">
                  <i class="fa fa-object-group" style="color: #ffb774;"></i>
                  <h4>24x7 support</h4>
                  <p>We are here to help you!.</p>
                </div>
                
                <div class="features wow bounceInUp clearfix">
                  <i class="fa fa-language" style="color: #589af1;"></i>
                  <h4>Great Developers</h4>
                  <p>We have the team of best developer to support you!</p>
                </div>
                
              </div>
  
            </div>
  
          </div>
  
        </div>
  
        <div class="container">
          <div class="row counters">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">274</span>
              <p>Clients</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">2</span>
              <p>Projects</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">2000</span>
              <p>Hours Of Support</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">3</span>
              <p>Hard Workers</p>
            </div>
    
          </div>
  
        </div>
      </section>
  
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Call To Action</h3>
              <p class="cta-text"> We provide 24x7 Service.Do Let us Help You!</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
  
      <!--==========================
        Features Section
      ============================-->
      <section id="features">
        <div class="container">
  
          <div class="row feature-item">
            <div class="col-lg-6 wow fadeInUp">
              <img src="../../assets/features-1.svg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <h4>Download our App NacroMancer.</h4>
           <p>
            We heard you and are excited to bring you a set of new features. Try them out now:
            <br>
            - Private Folder feature.Keep sensitive video/audio content on your phone away from prying eyes!
            - SMB protocol support. Now easily access network files as if they were on your phone.
            - Navigation Drawer, with which you can now quickly access all MX Player features.
            - Also the Share support for all file types.
            - Improvements on Picture-in-Picture experience.
           </p>
            </div>
          </div>
  
          <div class="row feature-item mt-5 pt-5">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
              <img src="../../assets/features-2.svg" class="img-responsive" alt="">
            </div>
  
            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <h4>Catch us on Caller Section.</h4>
              <p>
                Expecting your love and support ❤
                Version 4.1.pro:
                🌎 Added Polish translation, Thanks NikeShox:)
                <br>
                Version 4.0.pro:
                🐞 Critical bug fixes and UI updates.
                <br>
                Version 3.0.pro:
                🐞 Critical bug fixes and patches + Clean button visibility fix.
                Version 1.9.pro:
                <br>
            </p>
            </div>
            
          </div>
  
        </div>
      </section><!-- #about -->
  
      <!--==========================
        Portfolio Section
      ============================-->
      <section id="portfolio" class="section-bg">
        <div class="container">

          <header class="section-header">
            <h3 class="section-title">Our Portfolio</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <!-- <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul> -->
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="../../assets/app1.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 1</a></h4>
                  <p>App</p>
                  <!-- <div>
                    <a href="../../assets/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="../../assets/web3.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 3</a></h4>
                  <p>Web</p>
                  <!-- <div>
                    <a href="../../assets/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="../../assets/app2.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 2</a></h4>
                  <p>App</p>
                  <!-- <div>
                    <a href="../../assets/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
  
            <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="../../assets/card2.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 2</a></h4>
                  <p>Card</p>
                  <div>
                    <a href="../../assets/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
   -->
            <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="../../assets/web2.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 2</a></h4>
                  <p>Web</p>
                  <div>
                    <a href="../../assets/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div> -->
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="../../assets/app3.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 3</a></h4>
                  <p>App</p>
                  <!-- <div>
                    <a href="../../assets/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"></a>
                    <a href="#" class="link-details" title="More Details"></a>
                  </div> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="../../assets/card1.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 1</a></h4>
                  <p>Card</p>
                  <!-- <div>
                    <a href="../../assets/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"></a>
                    <a href="#" class="link-details" title="More Details"></a>
                  </div> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="../../assets/card3.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 3</a></h4>
                  <p>Card</p>
                  <!-- <div>
                    <a href="../../assets/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"></a>
                    <a href="#" class="link-details" title="More Details"></a>
                  </div> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="../../assets/web1.jpg" class="img-responsive" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 1</a></h4>
                  <p>Web</p>
                  <!-- <div>
                    <a href="../../assets/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"></a>
                    <a href="#" class="link-details" title="More Details"> </a>
                  </div> -->
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  
      <!--==========================
        Clients Section
      ============================-->
      <!-- <section id="testimonials">
        <div class="container">
  
          <header class="section-header">
            <h3>Testimonials</h3>
          </header>
  
          <div class="row justify-content-center">
            <div class="col-lg-8">
  
              <div class="owl-carousel testimonials-carousel wow fadeInUp">
      
                <div class="testimonial-item">
                  <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  </p>
                </div>
      
                <div class="testimonial-item">
                  <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  </p>
                </div>
      
                <div class="testimonial-item">
                  <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  </p>
                </div>
      
                <div class="testimonial-item">
                  <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  </p>
                </div>
  
              </div>
  
            </div>
          </div>
  
  
        </div>
      </section>#testimonials -->
  
      <!--==========================
        Team Section
      ============================-->
      <section id="team" class="section-bg">
        <div class="container">
          <div class="section-header">
            <h3>Team</h3>
            <p>Here we our!</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="../../assets/nabham1.jpeg" style="height: 300px; width: 280px;" class="img-responsive" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Nabham Sharma</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="../../assets/tarun.jpg"style="height: 300px; width: 280px;"  class="img-responsive" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Tarun</h4>
                    <span>Employee</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="../../assets/navneet.jpeg" style="height: 300px; width: 280px;"  class="img-responsive" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Navneet</h4>
                    <span>Employee</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="../../assets/yash.jpeg" style="height: 300px; width: 280px;" class="img-responsive" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Yash</h4>
                    <span>Intern</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="../../assets/jatin.jpg "style="height: 300px; width: 280px;"  class="img-responsive" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>jatin</h4>
                    <span>Employee</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="../../assets/akansh.jpeg"style="height: 300px; width: 280px;"  class="img-responsive" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Akansh</h4>
                    <span>Employee</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="../../assets/pant.jpg"style="height: 300px; width: 280px;"  class="img-responsive" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Pant</h4>
                    <span>Employee</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
     
  
         
  
  
          </div>
  
        </div>
      </section><!-- #team -->
  
      <!--==========================
        Clients Section
      ============================-->
      <!-- <section id="clients" class="wow fadeInUp">
        <div class="container">
  
          <header class="section-header">
            <h3>Our Clients</h3>
          </header>
  
          <section class="customer-logos slider" >
            <img class="slide" src="../../assets/client-1.png" alt="">
            <img class="slide" src="../../assets/client-2.png" alt="">
            <img class="slide" src="../../assets/client-3.png" alt="">
            <img class="slide" src="../../assets/client-4.png" alt="">
            <img class="slide" src="../../assets/client-5.png" alt="">
            <img class="slide" src="../../assets/client-6.png" alt="">
            <img class="slide" src="../../assets/client-7.png" alt="">
            <img class="slide" src="../../assets/client-8.png" alt="">
          </section>
  
        </div>
      </section>#clients -->
  
  
      <!--==========================
        Pricing Section
      ============================-->
      <section id="pricing" class="wow fadeInUp section-bg">
  
        <div class="container">
  
          <header class="section-header">
            <h3>Pricing</h3>
            <p>Choose your pricing range</p>
          </header>
  
          <div class="row flex-items-xs-middle flex-items-xs-center">
        
            <!-- Basic Plan  -->
            <div class="col-xs-12 col-lg-4">
              <div class="card">
                <div class="panel-heading">
                  <h3><span class="currency">₹</span>19<span class="period">/month</span></h3>
                </div>
                <div class="card-block">
                  <h4 class="card-title"> 
                    Basic Plan
                  </h4>
                  <ul class="list-group" style="background-color: grey;">
                    <li class="list-group-item">10GB DataStorage</li>
                    <li class="list-group-item">Frequent Ads</li>
               
                    <li class="list-group-item">24/7 Support System</li>
                  </ul>
                  <a href="#" class="btn">Choose Plan</a>
                </div>
              </div>
            </div>
        
            <!-- Regular Plan  -->
            <div class="col-xs-12 col-lg-4">
              <div class="card">
                <div class="panel-heading">
                  <h3><span class="currency">₹</span>29<span class="period">/month</span></h3>
                </div>
                <div class="card-block">
                  <h4 class="card-title"> 
                    Regular Plan
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item">20GB DataStorage</li>
                    <li class="list-group-item">Few Ads</li>
              
                    <li class="list-group-item">24/7 Support System</li>
                  </ul>
                  <a href="#" class="btn">Choose Plan</a>
                </div>
              </div>
            </div>
        
            <!-- Premium Plan  -->
            <div class="col-xs-12 col-lg-4">
              <div class="card">
                <div class="panel-heading">
                  <h3><span class="currency">₹</span>39<span class="period">/month</span></h3>
                </div>
                <div class="card-block">
                  <h4 class="card-title"> 
                    Premium Plan
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item">40GB DataStorage</li>
                    <li class="list-group-item">No Ads</li>
              
                    <li class="list-group-item">24/7 Support System</li>
                  </ul>
                  <a href="#" class="btn">Choose Plan</a>
                </div>
              </div>
            </div>
        
          </div>
        </div>
  
      </section><!-- #pricing -->
  
      <!--==========================
        Frequently Asked Questions Section
      ============================-->
      <!-- <section id="faq">
        <div class="container">
          <header class="section-header">
            <h3>Frequently Asked Questions</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          </header>
  
          <ul id="faq-list" class="wow fadeInUp">
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </p>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a>
              <div id="faq2" class="collapse" data-parent="#faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
              <div id="faq3" class="collapse" data-parent="#faq-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                </p>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>
              <div id="faq4" class="collapse" data-parent="#faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>
              <div id="faq5" class="collapse" data-parent="#faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                </p>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>
              <div id="faq6" class="collapse" data-parent="#faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                </p>
              </div>
            </li>
  
          </ul>
  
        </div>
      </section>#faq -->
  
    </main>
  
    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
      <div class="footer-top">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-6">
  
              <div class="row">
  
                  <div class="col-sm-6">
  
                    <div class="footer-info">
                      <h3>Nacro</h3>
                      <p>Write Us!!</p>
                    </div>
  
                    <div class="footer-newsletter">
                      <h4>Our Newsletter</h4>
                      <p>Subscribe to our newsfeed.</p>
                      <form action="" method="post">
                        <input type="email" name="email"><input type="submit"  value="Subscribe">
                      </form>
                    </div>
  
                  </div>
  
                  <div class="col-sm-6">
                    <div class="footer-links">
                      <h4>Useful Links</h4>
                      <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                      </ul>
                    </div>
  
                    <div class="footer-links">
                      <h4>Contact Us</h4>
                      <p>
                        A108 Near Chock <br>
                        176092<br>
                      Himachal Pardesh <br>
                        <strong>Phone:</strong> +917018760936<br>
                        <strong>Email:</strong> nnssuser@gmail.com<br>
                      </p>
                    </div>
  
                    <div class="social-links">
                      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
  
                  </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-6">
  
              <div class="form">
                
                <h4>Send us a message</h4>
                <p>We are eagerly waiting for your message.</p>
                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
  
                  <div id="sendmessage">Your message has been sent. Thank you!</div>
                  <div id="errormessage"></div>
  
                  <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                </form>
              </div>
  
            </div>
  
            
  
          </div>
  
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Nabham</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
          -->
          Designed by <a href="#">NacroSolutions</a>
        </div>
      </div>
    </footer><!-- #footer -->
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
  
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>
    
  
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    </body>
  
