    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <!------ Include the above in your HEAD tag ---------->

    <!-- <div class="container" style="width: 100%;">
        <div class="row">
            <div class="wrapper">
                <div class="side-bar">
                    <ul>
                        <li class="menu-head">
                            CLASH OF CLANS <a class="push_menu"><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
                        </li>
                        <div class="menu">
                            <li>
                                <a href="#">Dashboard <span class="glyphicon glyphicon-dashboard pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#" class="active">Love snippet<span class="glyphicon glyphicon-heart pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Like it? <span class="glyphicon glyphicon-star pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a>
                            </li>
                        </div>
                        
                    </ul>
                </div>   
                <div class="content" style="width:100%; height: 100vh;">
                    <div class="col-md-12">
                        <div class="panel panel-default " style="height: 100%;">
                    <h2>DashBoard</h2>
                    <div>
                        <nav class="navbar navbar-inverse" style="color: white;  background: rgb(53, 52, 52);">
                            <div class="container-fluid">
                            <div class="navbar-header">
                                <a routerLink="/" class="navbar-brand">Nacrosolutions</a>
                            </div>
                        
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                <li routerLinkActive="active"><a routerLink="/any" >Home</a></li>
                                <li routerLinkActive="active">
                                    <a routerLink="/any2" >Insert Product</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a routerLink="/shopping-list">Stock Available</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a routerLink="/registration">Register Customer</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a routerLink="/registration">Get Customer List</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a routerLink="/registration">Order Detail</a>
                                </li>
                                
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#" style="cursor: pointer;">Inventory Ratio</a>
                                
                                </li>
                                 <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                                    <a style="cursor: pointer;" class="dropdown-toggle" role="button"
                                    >Manage <span class="caret"></span
                                    ></a>
                                    <ul class="dropdown-menu">
                                    <li>
                                        <a style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
                                    </li>
                                    <li>
                                        <a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
                                    </li>
                                    </ul>
                                </li> -->
                                <!-- </ul>
                            </div>
                            </div>
                        </nav>
                    </div>
                    <br>
 -->

                    <div   class="p" style="width: 400px;  height:350px;">
 <form  class="form-signin" style="width: 100%;border-right: 1px soild red;"
 (ngSubmit)="onSubmit()" #userForm="ngForm">
                        
                            <div class="form-group "   style="border-right: 1px soild red;">
                                <div class="pp">
                                    <font size="4">Register Customer</font>
                                </div>
                            <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               name="name"
               minlength="5"
               placeholder="Enter your name"
               required #name="ngModel">
               <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger" style="background-color: mistyrose;">
            Name is required
          </div>
           
                        
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" [(ngModel)]="user.email"
                                       class="form-control"
                                       id="email"
                                       name="email"
                                       pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                       placeholder="Enter your email address"
                                       required #email="ngModel">
                                       <div class="alert alert-danger" style="background-color: mistyrose;" *ngIf="email.touched &&!email.valid">Email is required</div>
                                       <div *ngIf="email.errors?.pattern">
                                         Email Should be like t@t.com
                                  </div> 
                            
                            </div>
                            <!-- <div class="form-group">
                                <label for="phoneNo">Phone no</label>
                                <input
                                    type="number"
                                    id="phoneNo"
                                    class="form-control"
                                    ngModel
                                    name="phoneNo"
                                    required
                                    minlength="6"
                            
                                    #phoneNo="ngModel"
                                >
                                </div> -->
                                <div><button class="btn btn-success" [disabled]=!userForm.valid>
                                Submit
                                    </button>

                                </div>
                        
                    
            
                        </form>
                      
            
                </div>
                <div class="col-md-6 intro-img order-md-last order-first" style="float: right; margin-right:-100px;">
                    <img src="../../../assets/features-1.svg" alt="" class="img-responsive ">
                  </div>
                <!-- <div   class="p" style="width: 600px;   float:right; margin-right: 30px;
                ">
                <app-inventory-table></app-inventory-table></div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
