<div class="side-bar">
    <ul>
        <li class="menu-head">
            Inventory System <a class="push_menu"><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
        </li>
        <div class="menu">
            <li>
                <a routerLink="/registration">Dashboard <span class="glyphicon glyphicon-dashboard pull-right"></span></a>
            </li>
            <li>
                <a routerLink="/product-list">Product-List<span class="glyphicon glyphicon-heart pull-right"></span></a>
            </li>
            <li>
                <a routerLink="/customer-list">Customer-List <span class="glyphicon glyphicon-star pull-right"></span></a>
            </li>
            <li>
                <a routerLink="/stock-details">Stock List <span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
        </div>
        
    </ul>
</div>  