/* You can add global styles to this file, and also import other style files */

@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
#nabh{
  background-image: url('./assets/inv2.jpg');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
