<app-head></app-head>
<div style="margin-top: -20px;">
<app-sidebar style="height: 1000px;">
</app-sidebar>
<div style="margin-left: 220px; width: 500px;">
    <div class="col-xd-12">
<app-table></app-table>
</div>
</div>
<div style="margin-left: 220px; width: 500px;">
    <div>
        <strong>Product Cart</strong>
    <div class="col-xd-12">
    <app-table2></app-table2>
</div>
    </div>
    </div>
    <div style="float: right; margin-top: -470px;">
        <div>
            <strong>Stock Details</strong>
        <div class="col-xd-12">
            <app-time-purchase></app-time-purchase>
    </div>
        </div>
        </div>
</div>
